@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.cellempty, .cell {
    background-color:white;
}

.cellred {
    padding: 0px;
    width: 85px;
    height: 82px;
    border-radius: 80px;
    margin-bottom: 5px;
    background-image: url("pics/redchip.png");
    background-size: 85px;
}

.cellyellow {
    padding: 0px;
    width: 85px;
    height: 82px;
    border-radius: 80px;
    margin-bottom: 5px;
    background-image: url("pics/yellowchip.png");
    background-size: 85px;
}

#connectBoard {
    height: 100%;
    display: flex;
    position: absolute;
    right: 25%;
    top: 100px;
}

h1 {
    position: absolute;
    font-family: Nunito, sans-serif;
    font-style: bold;
    left: 32%;
    padding: 10px;
    top: 10px;
    justify-content: center;
    margin: 0px;
}

.cell {
    padding: 0px;
    width: 85px;
    height: 82px;
    border-radius: 80px;
    margin-bottom: 5px;
}

.column {
    height: 539px;
    padding: 4px;
    background-color: #009AE4;
}

